*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

body {
    color: #000000;
    background-color: white;
    font-family: 'Golos', sans-serif;
}

header {
    background-color: #eff1f4;
    margin-bottom: 32px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.image-link1 {
    display: inline-block;
    margin: 0;
}

.image-link1 img {
    display: block;
    width: 80px;
}

.image-link2 {
    display: inline-block;
    margin: 0;
}

.image-link2 img {
    display: block;
    width: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 140px;
}

.contacts-block {
    display: inline-block;
    padding-left: 220px;
    padding-right: 16px;
}

.contacts-block img {
    display: inline-block;
}